/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* section{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #302b63;
  overflow: hidden;
}
section .wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(img/wave.png);
  background-size: 1000px 100px;
}
section .wave.wave1{
  animation: animate 30s liner infinite;
  z-index: 10;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
section .wave.wave2{
  animation: animate2 15s liner infinite;
  z-index: 9;
  opacity: 0.5;
  animation-delay: 5s;
  bottom: 10px;
}
@keyframes animate{
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 100px;
  }
}
@keyframes animate2{
  0%{
    background-position-x: 100px;
  }
  100%{
    background-position-x: -100px;
  }
} */
